<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DonkeyBBS</title>
    <script language="JavaScript">
        function userRegister() {
            window.open("/register");
        }
    </script>

    <script language="JavaScript">
        function userLogin() {
            window.open("/login");
        }
    </script>
</head>
<body>
<h1>Welcome! My Friend!!</h1>
<h2><input id="register" type="submit" value="注册" onclick="userRegister()">
    &nbsp;
    <input id="login" type="submit" value="登陆" onclick="userLogin()">
</h2>
</body>
</html>